{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-black ">
  <div class="container">
    <a class="navbar-brand fw-bold megrim-regular" href="/">Vicente Morales</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="boton nav-link" href="{% url 'blog:posts' %}" style="margin-right: 1em; color: white;">Blog</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="boton" href="../../static/portfolio/CV.pdf" target="_blank" id="descargar_nav">Descargar CV</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

